<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Beer Menu</title>

    <!-- SEO Stuff -->
    <meta name="description" content="">

    <!-- Mobile Stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="" />
    <link rel="apple-touch-icon" sizes="72x72" href="" />
    <link rel="apple-touch-icon" sizes="114x114" href="" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- CSS -->
    <link href="style/public.css" type="text/css" rel="stylesheet" />
    <script src="js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="js/beermenu.js"></script>
</head>
<body ng-app>
    <table class="beerTable pure-table" height="100%" width="100%" cellpadding="0" cellspacing="0"  ng-controller="BarCtrl">
        <thead>
            <tr>
                <th colspan="">
                    <h1>Kelly&#8217;s Beer Menu</h1>                    
<!--                     <select id="background">
                        <option value="blackboard">Blackboard</option>
                        <option value="wood">Wooden</option>
                        <option value="football">Football</option>
                        <option value="bluehighlight">Blue Highlight</option>
                    </select> -->
                </th>
                <th>
                    <h1>On Tap</h1>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="beerRow in beerRows">
                <td class="beerRow" ng-repeat="beer in beerRow">
                    <div class="pure-g-r">
                        <div class="pure-u-1-6">
                            <img src="{{beer.labels.large}}" alt="{{beer.name}} label" width="100%" />
                        </div>
                        <div class="pure-u-5-6">
                            <div class="beerCopy">
                                <h3>{{beer.name}}</h3>
                                {{beer.brewery.name}}, {{beer.abv}}%
                                <div class="style">{{beer.style.name}}</body>
                            </body>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>