<table class="beerTable pure-table" height="100%" width="100%" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th colspan="">
                <h1>{{bar.name}}</h1>
            </th>
            <th>
                <h1>On Tap</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="row" ng-repeat="beerRow in beerRows" >
            <td class="beer" ng-repeat="beer in beerRow">
                <div class="pure-g-r">
                    <div class="pure-u-1-6">
                        <img ng-src="{{beer.labels.large}}" alt="{{beer.name}} label" width="100%" />
                    </div>
                    <div class="pure-u-5-6">
                        <div class="beerCopy">
                            <h3>{{beer.name}}</h3>
                            {{beer.brewery.name}}, {{beer.abv}}%
                            <div class="style">{{beer.style.name}}</body>
                        </body>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="bottomSpacer">&nbsp;</td>
        </tr>
    </tbody>
</table>
