<div header style="width: 100%; height: 75px; background: black; z-index: 9999;position: fixed; top: 0px">
    <table class="beerHeader pure-table" width="100%" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th colspan="">
                    <h1>{{bar.name}}</h1>
                </th>
                <th align="right">
                    <h1>On Tap</h1>
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="container" style="z-index: -1">
    <table class="beerTable pure-table" height="100%" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td class="topSpacer">&nbsp;</td>
            </tr>
            <tr class="row" ng-repeat="beerRow in beerRows" id="beerRow{{$index}}" >
                <td class="beer" ng-repeat="beer in beerRow">
                    <div class="imageFrame" />
                        <img ng-src="{{beer.labels.large}}" alt="{{beer.name}} label" width="100%" height="100%" />
                    </div>
                    <div class="beerCopy">
                        <h2>{{beer.name}}</h2>
                        <h3>{{beer.breweries[0].name}}, {{beer.abv}}%</h3>
                        <div class="style">{{beer.style.name}}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
