
/* ==========================================================================
   PUBLIC CUSTOM STYLES
   ========================================================================== */



.beer h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.beerTable {
  margin-top: 80px;
}

div.imageFrame {
  height: 120px;
  width: 120px;
  background-color: #ccc;
  border: 6px solid transparent;
  border-radius: 8px;
}

/* hide border */
.pure-table th {
  border-left: 0px
}

/*
.row {
  height: 100px;
}

.row.ng-enter, .row.ng-leave {
  -webkit-transition: height 2.0s ease-in;
  -moz-transition: height 2.0s ease-in;
  -o-transition: height 2.0s ease-in;
  transition: height 2.0s ease-in;
}

.row.ng-enter{
  	height: 0px;
}

.row.ng-enter.ng-enter-active {
	max-height: 120px;
}

.row.ng-leave {
  	height: 0px;
}

.row.ng-leave.ng-leave-active {
	height: 0px;
  	display: none;
}
*/