<div class="pure-g admin">
  <div class="pure-u">
    <!--Sidebar content-->
    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="abv">ABV</option>
    </select>      
    <span ng-bind-template="Showing {{result}} of {{totalBeers}}"></span>
  </div>
  <div class="pure-u">
    <!--Body content-->
    <ul>
        <li ng-repeat="beer in beers | filter:query | orderBy:orderProp">
            {{beer.name}} ABV:{{beer.abv}}
            <p>{{beer.description}}</p>
        </li>
    </ul>
  </div>
</div>