<div class="pure-g-r">
  <div class="pure-u-1" id="list">
    <div class="pure-g-r admin" ng-controller="AdminBeerList">
      <div class="pure-u-1 sortBar">
        <span ng-bind-template="Showing {{(beers|filter:query).length}} of {{beers.length}}" style="float: right;"></span>
        <!--Sidebar content-->
          Filter: <input ng-model="query">
          Sort by:
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="abv">ABV</option>
          </select>
      </div>
      <div class="pure-u-1">
        <!--Body content-->
        <ul class="beerList">
            <li ng-repeat="beer in beers | filter:query | orderBy:orderProp" class="beer clearfix">
                <button class="pure-button pure-button-primary removeButton" ng-click="removeBeer(beer)">Remove</button> <!-- ng-disabled="!beer.active" -->
                {{beer.name}}, {{beer.breweries[0].name}} (ABV:{{beer.abv}})
                <p style="display: none">{{beer.description}}</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>