<div class="pure-g-r">
  <div class="pure-u-1" id="list">
    <div class="pure-g-r admin" ng-controller="AdminBeerSearch">
      <div class="pure-u-1 sortBar">
        Search: <input ng-model="term"><button class="btn btn-default btn-sm" ng-click="search()">Search</button>

        <span ng-bind-template="Found {{beerResults.length}}" style="float: right;"></span>
        <!--Sidebar content-->
          Sort by:
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="abv">ABV</option>
          </select>
      </div>
      <div class="pure-u-1">
        <!--Body content-->
        <ul class="beerList">
            <li ng-repeat="beer in beerResults | orderBy:orderProp" class="beer clearfix">
                <button class="pure-button pure-button-primary addButton" ng-click="activateBeer(beer)">Activate</button>
                {{beer.name}}, {{beer.breweries[0].name}} (ABV:{{beer.abv}})
                <p style="display: none">{{beer.description}}</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-u" id="alert">
    {{message}}
  </div>
</div>