
/* ==========================================================================
   PUBLIC CUSTOM STYLES
   ========================================================================== */


.row {
	height: 150px;
}

.row.ng-enter, .row.ng-leave {
  -webkit-transition: height 2.0s ease-in-out;
  -moz-transition: height 2.0s ease-in-out;
  -o-transition: height 2.0s ease-in-out;
  transition: height 2.0s ease-in-out;
}

.row.ng-enter{
  height: 0px;
}

.row.ng-enter.ng-enter-active {
	height: 150px;	
}

.row.ng-leave {
  height: 0px;
}

.row.ng-leave.ng-leave-active {
	height: 0px;
}
